<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Kube-Sample-App</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>KubernetesのSampleアプリケーションです</h1>
    <p>詳しくは<a href="https://qiita.com/rikkyrice/items/e49b42cfb5486e6ad386">こちら</a>をご覧ください</p>
  </body>
</html>
